body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    background-color: #35495e;
    color: #fff;
    padding: 20px;
    margin-bottom: auto;
    margin-top: 30px ;
}

ul {
    margin-bottom: auto;
    margin-top: auto ;
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

li {
    margin: 15px 0;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

li:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: #3498db;
    font-size: 1.2em;
}

a:hover {
    color: #2980b9;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #35495e;
    color: white;
    position: fixed;
    bottom: 0;
    width: auto;
}
@media screen and (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
    }
    
    h1 {
        text-align: center;
        background-color: #35495e;
        color: #fff;
        padding: 20px;
        margin-bottom: 30px;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        max-width: 600px;
        margin: 0 auto;
    }
    
    li {
        margin: 15px 0;
        background-color: #fff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }
    
    li:hover {
        transform: scale(1.05);
    }
    
    a {
        text-decoration: none;
        color: #3498db;
        font-size: 1.2em;
    }
    
    a:hover {
        color: #2980b9;
    }
    
    footer {
        text-align: center;
        padding: 20px;
        background-color: #35495e;
        color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}