/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    background-color: #35495e;
    color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* Menu principal */
nav ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

nav > ul > li {
    margin: 15px 0;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease;
}

nav ul li:hover {
    transform: scale(1.05);
}

nav ul li a {
    text-decoration: none;
    color: #3498db;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #2980b9;
}

/* Style pour les sous-menus */
nav ul li ul {
    display: none; /* Cache les sous-menus par défaut */
    padding-left: 20px;
}

nav ul li:hover ul {
    display: block; /* Affiche les sous-menus au survol */
}

/* Style pour les sous-éléments (liens des sous-menus) */
nav ul li ul li {
    background-color: #f8f8f8;
    margin: 8px 0;
    box-shadow: none;
    transform: none;
}

nav ul li ul li a {
    font-size: 1em;
    color: #3498db;
}

nav ul li ul li a:hover {
    color: #2980b9;
}

/* Style du footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #35495e;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
    }
    
    h1 {
        text-align: center;
        background-color: #35495e;
        color: #fff;
        padding: 20px;
        margin-bottom: 30px;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
        max-width: 600px;
        margin: 0 auto;
    }
    
    nav ul li {
        margin: 15px 0;
        background-color: #fff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }
    
    nav ul li:hover {
        transform: scale(1.05);
    }
    
    nav ul li a {
        text-decoration: none;
        color: #3498db;
        font-size: 1.2em;
    }
    
    nav ul li a:hover {
        color: #2980b9;
    }
    
    footer {
        text-align: center;
        padding: 20px;
        background-color: #35495e;
        color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}